
// Breadcrumb

.breadcrumb-item + {
    .breadcrumb-item {
        &:before {
            content: "\f101";
            font-family: "Line Awesome Free";
            font-weight: 900;
        }
    }
}